@page "/about"

<footer class=" px-2 text-white d-flex align-content-center justify-content-center flex-column ">
    <div class="d-flex mt-2">
        Developed by
        <a class="mx-1 fw-bolder" href="https://linkedin.com/in/EslamTamim" target="_blank">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 256 256">
                    <g fill="none">
                        <rect width="256" height="256" fill="#fff" rx="60" />
                        <rect width="256" height="256" fill="#0A66C2" rx="60" />
                        <path fill="#fff" d="M184.715 217.685h29.27a4 4 0 0 0 4-3.999l.015-61.842c0-32.323-6.965-57.168-44.738-57.168c-14.359-.534-27.9 6.868-35.207 19.228a.32.32 0 0 1-.595-.161V101.66a4 4 0 0 0-4-4h-27.777a4 4 0 0 0-4 4v112.02a4 4 0 0 0 4 4h29.268a4 4 0 0 0 4-4v-55.373c0-15.657 2.97-30.82 22.381-30.82c19.135 0 19.383 17.916 19.383 31.834v54.364a4 4 0 0 0 4 4ZM38 59.627c0 11.865 9.767 21.627 21.632 21.627c11.862-.001 21.623-9.769 21.623-21.631C81.253 47.761 71.491 38 59.628 38C47.762 38 38 47.763 38 59.627Zm6.959 158.058h29.307a4 4 0 0 0 4-4V101.66a4 4 0 0 0-4-4H44.959a4 4 0 0 0-4 4v112.025a4 4 0 0 0 4 4Z" />
                    </g>
                </svg>
            </span>
            <div class="Myname">Tamim</div>
        </a>
    </div>

    <div class="d-flex mt-2 fw-bolder align-items-center" style="font-size:x-small; margin-left:-9px">
        More details about the Project <a class="btn btn-dark fw-bold" style="display : contents;font-size:small;" href="/Project-details">click here</a>

        @* <a class="mx-2 fw-bolder" href="https://www.linkedin.com/in/amrshoukry/" target="_blank">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 256 256">
                    <g fill="none">
                        <rect width="256" height="256" fill="#fff" rx="60" />
                        <rect width="256" height="256" fill="#0A66C2" rx="60" />
                        <path fill="#fff" d="M184.715 217.685h29.27a4 4 0 0 0 4-3.999l.015-61.842c0-32.323-6.965-57.168-44.738-57.168c-14.359-.534-27.9 6.868-35.207 19.228a.32.32 0 0 1-.595-.161V101.66a4 4 0 0 0-4-4h-27.777a4 4 0 0 0-4 4v112.02a4 4 0 0 0 4 4h29.268a4 4 0 0 0 4-4v-55.373c0-15.657 2.97-30.82 22.381-30.82c19.135 0 19.383 17.916 19.383 31.834v54.364a4 4 0 0 0 4 4ZM38 59.627c0 11.865 9.767 21.627 21.632 21.627c11.862-.001 21.623-9.769 21.623-21.631C81.253 47.761 71.491 38 59.628 38C47.762 38 38 47.763 38 59.627Zm6.959 158.058h29.307a4 4 0 0 0 4-4V101.66a4 4 0 0 0-4-4H44.959a4 4 0 0 0-4 4v112.025a4 4 0 0 0 4 4Z" />
                    </g>
                </svg>
            </span>
            <div class="Myname">Amr</div>
        </a> *@
    </div>
    @* <div class="d-flex mt-2 ">
    Questions by

    <a class="mx-2 fw-bolder" href="https://www.linkedin.com/in/amrshoukry/" target="_blank">
    <span>
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 256 256">
    <g fill="none">
    <rect width="256" height="256" fill="#fff" rx="60" />
    <rect width="256" height="256" fill="#0A66C2" rx="60" />
    <path fill="#fff" d="M184.715 217.685h29.27a4 4 0 0 0 4-3.999l.015-61.842c0-32.323-6.965-57.168-44.738-57.168c-14.359-.534-27.9 6.868-35.207 19.228a.32.32 0 0 1-.595-.161V101.66a4 4 0 0 0-4-4h-27.777a4 4 0 0 0-4 4v112.02a4 4 0 0 0 4 4h29.268a4 4 0 0 0 4-4v-55.373c0-15.657 2.97-30.82 22.381-30.82c19.135 0 19.383 17.916 19.383 31.834v54.364a4 4 0 0 0 4 4ZM38 59.627c0 11.865 9.767 21.627 21.632 21.627c11.862-.001 21.623-9.769 21.623-21.631C81.253 47.761 71.491 38 59.628 38C47.762 38 38 47.763 38 59.627Zm6.959 158.058h29.307a4 4 0 0 0 4-4V101.66a4 4 0 0 0-4-4H44.959a4 4 0 0 0-4 4v112.025a4 4 0 0 0 4 4Z" />
    </g>
    </svg>
    </span>
    <div class="Myname">Amr</div>
    </a>
    </div> *@
</footer>