<div>

	@*<h3 class="m-lg-5">Welcome To <u>FCIS Question Center</u></h3>
*@

	<div class="d-flex flex-column mx-5 my-4 px-5 justify-content-around ">
		<div>
			<h5>Please Login to Start Using the App </h5>
		</div>
		<div>
			<a class="btn btn-secondary" href="Account/Register">Register</a>
			<a class="btn btn-outline-secondary " href="Account/Login">Log in</a>
		</div>

	</div>
</div>
