@inject ApplicationDbContext _dbcontext
@inject SignInManager<StudentUser> _signInManager
@inject AuthenticationStateProvider GetAuthenticationStateAsync



<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Fcis Archive</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>



<div class="@NavMenuCssClass nav-scrollable" id="NavMenu" @onclick="ToggleNavMenu">

    <div>
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="upload">
                    <span class="oi oi-plus" aria-hidden="true"></span> Upload
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Addquestion">
                    <span class="oi oi-cloud-upload" aria-hidden="true"></span> Add Questions
                </NavLink>
            </div>

            <AuthorizeView Roles="Super-Admin">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Admin">
                        <span class="oi oi-command" aria-hidden="true"></span> Admin Panel
                    </NavLink>
                </div>
            </AuthorizeView>
        </nav>
    </div>

    <div class="mb-4">
        <nav class="flex-column">
            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link fw-bolder" href="/Account/Manage">
                            @if (userImage is not null)
                            {
                                <img src="@userImage" width="40" class="mx-2 rounded-circle" />
                            }
                            else
                            {
                                <span class="oi oi-person"></span>
                            }
                            @context.User.Identity?.Name
                        </NavLink>
                    </div>
                </Authorized>


                <NotAuthorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/Account/Register">
                            <span class="oi oi-account-login" aria-hidden="true"></span> Register
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/Account/login">
                            <span class="oi oi-account-login" aria-hidden="true"></span> Log in
                        </NavLink>
                    </div>

                </NotAuthorized>

            </AuthorizeView>
            <About />

        </nav>
    </div>

</div>




@code {
    public string userImage { get; set; }
    private bool collapseNavMenu = true;

    public AuthenticationState userAuth { get; set; }
    public StudentUser user { get; set; }
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    //	private string? navFlexDisplay => !collapseNavMenu ? "d-flex flex-column justify-content-between" : null;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            userAuth = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
            user = _dbcontext.Users.FirstOrDefault(u => u.UserName == userAuth.User.Identity.Name);

            if (_signInManager.IsSignedIn(userAuth.User))
            {
                userImage = user.Image;
            }
        }
        catch (Exception)
        {

        }
        await base.OnInitializedAsync();
    }
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
