@page "/s/{year:int}/{subject}"
@inject ApplicationDbContext _dbcontext
@inject IMemoryCache cache


<h3>@Subject</h3>

@if (_lectures is null)
{
    <Loading/>
}
else if (!_lectures.Any())
{
    <div class="alert alert-danger" role="alert">
        no lectures yet
    </div>
}
else
{
    <div class="d-flex flex-wrap justify-content-sm-around align-content-center">
        @foreach (var lecture in _lectures)
        {
            <a class="btn btn-outline-secondary fw-bold m-2 p-2" href="/s/@Subject/@lecture">
                @lecture
            </a>
        }
    </div>
}



@code {

    [Parameter]
    public string Subject { get; set; }

    [Parameter]
    public int Year { get; set; }

    List<string> _lectures;

    protected override Task OnInitializedAsync()
    {
        _lectures = cache.GetOrCreate(nameof(_lectures) + Subject, entry =>
        {
            entry.AbsoluteExpirationRelativeToNow = TimeSpan.FromDays(1);
            return _dbcontext.lectures.Where(l => l.Subject.Name == Subject).Select(l => l.Name).ToList();
        });
        return base.OnInitializedAsync();
    }

}