@inject ApplicationDbContext _dbcontext
@inject IMemoryCache cache
@inject AuthenticationStateProvider GetAuthenticationStateAsync



@if (Years is null)
{
    <Loading />
}
else
{


    <div>

        <div class="d-flex  flex-wrap justify-content-start mx-5">

            @foreach (var year in Years)
            {
                <button class="btn btn-outline-secondary fw-bold m-2 p-2" @onclick="()=>{GetSubjects(year);}">
                    @year.ToString()
                </button>
            }

        </div>

        <div class="d-flex flex-wrap justify-content-start align-items-center m-5">

            @if (_load)
            {
                <Loading />
            }
            else
            {
                <div class="d-flex flex-wrap justify-content-around gap-2 align-items-center ">

                    @foreach (var subject in Subjects)
                    {

                        @*   <div class="card d-flex flex-column justify-content-between gap-1" @onclick="()=>{GetLectures(subject);}">
            <img class="card-image" src="/SubjectsPhotos/@(subject.Name).png" />
            <div class="category fw-bold m-2 p-2">@subject.Name</div>
            </div> *@

                        <a class="subjectCard card d-flex flex-column justify-content-between gap-1" href="s/@subject.Name">
                            <img class="card-image" src="/SubjectsPhotos/@(subject.Name).png" />
                            <div class="category fw-bold m-2 p-2">@subject.Name</div>
                        </a>
                    }
                </div>
            }


        </div>

        <div class="d-flex flex-wrap justify-content-start align-items-center m-5">


            @if (_load)
            {
                <Loading />
            }
            else
            {
                <div class="d-flex flex-wrap justify-content-around align-items-center ">

                    @foreach (var lecture in Lectures)
                    {
                        <a class="btn btn-outline-secondary fw-bold m-2 p-2" href="/s/@_subject.Name/@lecture.Name?page=1">
                            @lecture.Name
                        </a>
                    }


                </div>
            }


        </div>

    </div>
    <MadeWithLove />

}
@code {



    bool _load = false;

    record SubjectDto(int Id, string Name);
    record LectureDto(int Id, string Name);

    List<SubjectDto> Subjects { get; set; } = new();
    List<LectureDto> Lectures { get; set; } = new();

    public List<Year> Years;
    public Year? Year = FCISQuestionsHub.Core.Models.Year.Second;

    SubjectDto _subject;

    LectureDto _lecture;

    AuthenticationState UserAuth { get; set; }
    StudentUser User { get; set; }

    protected override async Task OnInitializedAsync()
    {
        UserAuth = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        if (UserAuth.User.Identity.Name is not null)
        {
            User = _dbcontext.Users.FirstOrDefault(x => x.UserName == UserAuth.User.Identity.Name);
            if (User.AcademicYear is not null ) Year = User.AcademicYear;
        }

        Years = cache.GetOrCreate("years", (entry) =>
        {
            entry.AbsoluteExpirationRelativeToNow = TimeSpan.FromDays(1);
            return _dbcontext.subjects.Select(x => x.Year).OrderBy(x => (int)x).Distinct().ToList();
        });
        GetSubjects(Year);
        await base.OnInitializedAsync();
    }

    void GetSubjects(Year? year)
    {
        _load = true;
        this.Year = year;
        Subjects = cache.GetOrCreate("subjects" + (int)year, (entry) =>
        {
            entry.AbsoluteExpirationRelativeToNow = TimeSpan.FromDays(1);
            return _dbcontext.subjects.Where(x => x.Year == year).OrderBy(s => s.Semester).Select(s => new SubjectDto(s.Id, s.Name)).ToList();
        });
        _lecture = null;
        _load = false;
        StateHasChanged();
    }

    void GetLectures(SubjectDto subject)
    {
        _load = true;
        this._subject = subject;
        Lectures = cache.GetOrCreate("lectures" + subject.Name, (entry) =>
        {
            entry.AbsoluteExpirationRelativeToNow = TimeSpan.FromDays(1);
            return _dbcontext.lectures.Where(x => x.SubjectId == subject.Id).Select(l => new LectureDto(l.Id, l.Name)).ToList();
        });
        _load = false;
        StateHasChanged();
    }


}

