

.card {
    width: 190px;
    background: white;
    padding: .4em;
    height: 220px;
    border-radius: 6px;
}

.card-image {
    background-color: rgb(236, 236, 236);
    width: 100%;
    
    border-radius: 6px 6px 0 0;
}

    .card-image:hover {
        transform: scale(0.98);
    }

.category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
}

.card:hover {
    cursor: pointer;
}



@media (max-width: 750px) {
    .card {
        width: 100px;
        background: white;
        padding: .4em;
        height: 120px;
        border-radius: 6px;
    }
  
}
/*
    display the about section in the mobile view
*/

