@page "/"
@page "/index"
@inject IUnitOfWork unitOfWork_
@inject SignInManager<StudentUser> si
@using Microsoft.AspNetCore.Identity
@using FcisArchiveBlazor.Pages.AdminRelatedPages
@using FcisArchiveBlazor.Pages.QuestionRelatedPages
@using FcisArchiveBlazor.Areas.Identity


<div class="index">
    <YearSelection />

</div>
