 <div class="banter-loader  text-black">
     <div class="banter-loader__box"></div>
     <div class="banter-loader__box"></div>
     <div class="banter-loader__box"></div>
     <div class="banter-loader__box"></div>
     <div class="banter-loader__box"></div>
     <div class="banter-loader__box"></div>
     <div class="banter-loader__box"></div>
     <div class="banter-loader__box"></div>
     <div class="banter-loader__box"></div>
 </div>

<div class="loader m-5"></div>
